# Logs
logs
*.log

# Dependency directories
node_modules/

# Environment variables
.env

# Build output
build/
dist/

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
.DS_Store
Thumbs.db
.env
node_modules/
minify/
